@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700&display=swap');


.bg-sobre {
    background: url('./assets/bg-sobre.png') center center no-repeat;
    position: relative;
    height: auto;
    background-size: cover;
    margin-top: -20vh;
    padding: 170px 0 50px;
}

h1 {
    margin-top: 0;
    padding-left: 0;
    font-size: 62px;
    line-height: 62px;
    text-align: right;
}

h3 {
    font-size: 23px;
    padding-left: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 400;
    line-height: 26px;
    border-style: solid;
        border-top-width: 0;
        border-right-width: 0;
        border-bottom-width: 0;
        border-left-width: 1.3px;

}

span.text-red {
    color:#941c2b;
    font-weight: 850;
}

strong {
    font-weight: 800;
}

i {
    font-style: italic;
}
.deixe-a-cartola {
    margin-top: 0;
    background: url('./assets/deixe-a-cartola.jpg') center center no-repeat;
    position: relative;
    height: 560px;
    background-size: cover;
}

.deixe-a-cartola .img-direita {
    position: absolute;
    top: 110px;
    right: -40px;
    margin: auto;
    width: 30%;
}

.deixe-a-cartola .img-esquerda {
    position: absolute;
    top: -110px;
    left: 90px;
    margin: auto;
    width: 30%;
}



.portifolio {
    padding: 80px 0;
    position: relative;
}

h2.text-portifolio {
    text-align: center;
    padding: 20px 0;
    color: #000000;
    font-size: 50px;
    font-weight: 750;
    
}
p.text-black {
    color: #000000;
    margin-top: 30px;
    text-align: center;
    font-size: 27px;
    margin-bottom: 60px;
}



.clients-holder {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 2fr;
    /* padding: 50px 0; */
}
.clients-holder .box {
    padding: 30px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-top-width: 0.5px;
    border-right-width: 0.5px;
    border-bottom-width: 0.5px;
    border-left-width: 0.5px;
    color: #ffffff;
    background: #000000;
    position: relative;
}

.clients-holder img.img-background { max-width: 100%; filter: grayscale(100%); opacity: .6; transition: all .3s ease-in-out; }
/* .clients-holder img.img-background:hover { filter: grayscale(0); opacity: 1; } */
.box:hover { background: #941c2b; transition: all .3s ease-in-out; }

.box{
    position: relative;
    transition: all .3s ease-in-out; 
}

.box a {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.box img.img-background  {
    position: absolute;
    z-index: 10;
    text-align: center;
    width: 100%;
    height: 100%;
}

.box img.img-logo {
    position: absolute;
    z-index: 100;
    text-align: center;
    max-width: 50%;
}

/* 
.bg-yellow {
    
    background: url('./assets/bg-servicos.jpg') center center no-repeat;
    position: relative;
    height: 165vh;
    margin-top: -250px;
} */

/* .bg-yellow img {
    position: relative;
    height: 56vh;
    margin-top: 365px;
    margin-left: 110px;
} */

.bg-white {
    /* margin-top: 350px; */
    padding: 60px 0;
}

.bg-white .empresas {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
    gap: 30px;
    position: relative;
    margin-top: 50px;
}
    .empresas div {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 130px;
    }
    .empresas img { max-width: 90%; max-height: 70%; }
/* 
.bg-white .empresas img {
    width: 115px;
    margin: 25px 15px;
} */

p.bg-white-text {
    text-align: center;
    color: #000000;
    /* margin-top: 150px; */
    font-size: 50px;
}

h4 {
    margin-top: 200px;
    font-size: 23px;
    padding-left: 70px;
    padding-top: 30px;
    padding-bottom: 30px;
    font-weight: 400;
    line-height: 26px;
    border-style: solid;
        border-top-width: 0;
        border-right-width: 0;
        border-bottom-width: 0;
        border-left-width: 1.3px;
}

.white-end img {
    height: 40vh;
    margin-top: 115px;
    margin-left: 100px;
    margin-bottom: 85px;
}

.bg-black {
    background: url('./assets/bg-servicos1.jpg') center center no-repeat;
    width: 100%;
    background-size: cover;
    position: relative;
    padding: 80px 0;
}

.bg-black img {
    max-width: 80px;
    margin: 20px 35px;
    max-height: 65px;
}
.bg-black p {
    font-weight: 650;
    color: #fff;
}

.black-icon {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    grid-template-rows: 4fr;
    padding: 200px 0;
    color: #ffffff;
    text-align: center;
    gap: 15px;
}

.black-icon div {
    padding: 0;  
    align-items: center; 
    color: #ffffff; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;  
}

.black-icon p {
    line-height: 20px;
}

p.text-bg-black-1 {
    color: #ffffff;
    padding: 30px;
    font-size: 20px;
    margin-top: 170px;
    margin-bottom: -10px;
    text-align: initial;
    font-weight: 400;
}

h6.text-bg-black-2 {
    color: #ffffff;
    padding: 0 30px;
    font-size: 20px;
    font-weight: 700;
    text-align: initial;
    font-weight: 700;
    line-height: 25px;
}

span.text-yellow {
    color:#999900 ;
}

.bg-pink {
    background: url('./assets/bg-servicos-2.jpg') fixed center center no-repeat;
    position: relative;
    padding: 120px 0 0;
    text-align: center;
}
.outdoor {
    position: absolute;
    left: 0;
    top: -20px;
    width: 250px;
}

.cartao {
    position: absolute;
    left: 0;
    top: 300px;
    width: 320px;
}

.revista {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 200px;
}

.flyers {
    position: absolute;
    top: -20px;
    right: 0;
    width: 300px;
}

.computador {
    position: absolute;
    top: 300px;
    right: 0;
    width: 250px;
}

.camisetas {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 320px;
}

.bg-pink p {
    margin-top: 15px;
    margin-bottom: 100px;
    font-size: 17px;
    color: #ffffff;
    padding: 0 100px;
}

span.text-icones.icone-1 {
    background: url('./assets/servicos-1.png') no-repeat;
    background-size: 60px;
    padding-left: 90px;
    background-position: 5px 4px;
    margin-bottom: 20px;
}


span.text-icones.icone-2 {
    color: #ffffff;
    background: url('./assets/servicos-2.png') no-repeat;
    background-size: 60px;
    padding-left: 90px;
    background-position: 5px 4px;
    margin-bottom: 20px;
}

span.text-icones.icone-3 {
    color: #ffffff;
    background: url('./assets/servicos-3.png') no-repeat;
    background-size: 60px;
    padding-left: 90px;
    background-position: 5px 4px;
    margin-bottom: 20px;
}


span.text-icones.icone-4 {
    color: #ffffff;
    background: url('./assets/servicos-4.png') no-repeat;
    background-size: 60px;
    padding-left: 90px;
    background-position: 5px 4px;
    margin-bottom: 20px;
}


.text-icones {
    font-size: 30px;
    line-height: 32px;
    text-transform: uppercase;
    color: #ffffff;
    display: inline-block;
    text-align: left;
    font-weight: 500;
}

.bg-maria {
    padding: 80px 0;
    margin-top: 40px;
}

.bg-maria img.influenciadores {
    max-width: 100%;
}

.bg-maria img.maria {
    max-width: 100%;
}

.bg-maria p {
    text-align: center;
    font-size: 18px;
    padding: 15px 0px;
    font-weight: 450;
}

.button-influencer {
    background: #fff;
    padding: 0 40px;
    font-weight: bold;
    border-radius: 55px;
    display: inline-block;
    color: #ffffff;
    height: 60px;
    line-height: 55px;
    font-size: 20px;
    text-transform: uppercase;
    border: 1px solid #da155e;
    color: #da155e;
    margin-left: 20px;
    transition: all .3s ease-in-out;
}

.button-sou-empresa {
    background: #FFFFFF;
    padding: 0 55px;
    font-weight: bold;
    border-radius: 55px;
    display: inline-block;
    height: 60px;
    line-height: 55px;
    font-size: 20px;
    text-transform: uppercase;
    transition: all .3s ease-in-out;
    border: 1px outset;
    margin-left: 13px;
    border: 1px solid #da155e;
    margin-top: 40px;   
    color: #da155e;
}

.button-influencer:hover, .button-sou-empresa:hover { 
    background: linear-gradient(11deg, rgba(233,112,51,1) 14%, rgba(230,81,50,1) 31%, rgba(184,74,53,1) 47%, rgba(236,34,103,1) 79%); 
    text-decoration: none; color:#da155e; 
    color: #fff;
}

.button-sou-empresa p {
    color:#da155e;
    margin: -12px 0;
    font-weight: 700;
}

.button-midia-kit {
    background: #FFFFFF;
    padding: 0 55px;
    border-style: outset;
    border-color: #ddd2d2c7;
    border-radius: 55px;
    display: inline-block;
    height: 60px;
    line-height: 30px;
    font-size: 20px;
    text-transform: uppercase;
    transition: all .3s ease-in-out;
    border: 1px solid #da155e;
    color: #da155e;
}

.button-midia-kit:hover { filter: grayscale(0); opacity: 1; text-decoration: none; color:#000000}

span.color-pink {
    color: #da155e;
    font-weight: 900;
    font-size: 18px;
}

span.color-pink:hover { filter: grayscale(0); opacity: 3; text-decoration: none; color:#000000}

.bg-maria p.color-preciso {
    font-weight: 450;
    text-transform: initial;
    color: #da155e;
    font-size: 18px;
    line-height: 25px;
    margin-top: -12px;
}

span.influencer {
    background: rgb(233,112,51);
    background: linear-gradient(11deg, rgba(233,112,51,1) 14%, rgba(230,81,50,1) 31%, rgba(184,74,53,1) 47%, rgba(236,34,103,1) 79%);
    padding: 3px 50px;
    font-size: 23px;
    font-weight: bold;
    line-height: 55px;
    border-radius: 55px;
    display: inline-block;
    color: #ffffff;
    text-transform: uppercase;
    margin-right: 30px;
    margin-left: 150px;
}

.sou-empresa {
    background: #f5f4f4;
    padding: 0 65px;
    font-size: 15px;
    font-weight: bold;
    line-height: 25px;
    border-style: outset;
    border-color: #ddd2d2c7;
    border-radius: 55px;
    display: inline-block;
    height: 60px;
    line-height: 55px;
    font-size: 20px;
    text-transform: uppercase;;
    margin-left: 200px;
    /* box-shadow: 0 0 20px rgba(254, 230, 0, .2); */
    transition: all .3s ease-in-out;
    border: 1px outset;
    font-size: 20px;
    margin-left: -35px;
}
.bg-sou-empresa img {
    margin-left: 150px;
}


.bg-sou-influencer p {
    font-size: 20px;
}

.bg-sou-influencer img.photo {
    max-width: 100%;
}

form { margin-top: 50px; }
form input {
    width: 100%;
    border-radius: 8px;
    border: 2px solid ;
    border-color: linear-gradient(25deg, rgba(233,112,51,1) 19%, rgba(230,81,50,1) 35%, rgba(184,74,53,1) 58%, rgba(204,32,90,1) 78%, rgba(218,21,94,1) 100%);;
    height: 55px;
    line-height: 55px;
    padding: 0 20px;
    background: none;
    margin-bottom: 15px;
    text-align: center;
    text-transform: uppercase;
}


.rede-social {
    margin-left: 50px;
}
form textarea {
    width: 100%;
    border-radius: 8px;
    border: 2px solid #000000;
    padding: 20px;
    background: none;
    margin-bottom: 15px;
    height: 180px;
    text-align: center;
    text-transform: uppercase;
}

.bg-sou-empresa {
    padding:  100px 0;
}

/* .bg-sou-empresa p {
    
} */

span.button-midia-kit {
    background: #FFFFFF;
    padding: 0 55px;
    font-weight: bold;
    border-style: outset;
    border-color: #ddd2d2c7;
    border-radius: 55px;
    display: inline-block;
    height: 60px;
    line-height: 30px;
    font-size: 20px;
    text-transform: uppercase;
    box-shadow: 0 0 20px rgba(254, 230, 0, .2);
    transition: all .3s ease-in-out;
    border: 1px outset;
    color: #da155e;
    margin-top: 15px;
    margin-left: 140px;
    margin-right: 140px;
    
}

.bg-sou-empresa.button-default {
    margin: -10px 180px;
    height: 0vh;
}

.button-midia-kit {
    text-transform: none;
    text-align: center;
    line-height: 22px;
    padding-top: 8px;
    margin: 15px auto;
}
    .button-midia-kit span { font-weight: 800; display: block; }

.button-default { border: none; background: none; margin: 0; display: inline-block; }

p.color-preciso-3 {
    background: #FFFFFF;
    padding: 0 31px;
    font-weight: bold;
    border-style: outset;
    border-color: #ddd2d2c7;
    border-radius: 55px;
    display: inline-block;
    margin-left: 150px;
    margin-top: -150px;
    border: 1px outset;
    color: #da155e;
    border-color:#da155e ;
    height: 60px;
}

.button-midia-kit {
    text-transform: none;
    text-align: center;
    font-weight: 300;
    line-height: 22px;
    padding-top: 8px;
    font-size: 18px;
    margin: 15px auto;
}
    .button-midia-kit span { font-weight: 800; display: block; }

.button-default { border: none; background: none; margin: 0; display: inline-block; }

