.banner{
    position: relative;
    background: url('./assets/banner-1.jpg') center center no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner img {
    
}



