header {
  position: fixed;
  width: 100%;
  z-index: 100;
 
}

.logo{
  padding: 40px 10px;
}


ul {
  padding: 40px 140px;
  position: relative;
}



li { display: inline; margin-right: 25px }


h2 {
  position: relative;
  text-align: center;
  color:#ffffff;
  padding-top: 360px;
}





