header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  /* background: url('./assets/bg-header.png') no-repeat; */
  background-size: cover;
  height: 250px;
}

.logo{
  padding: 25px 10px;
}

ul {
  padding: 0;
  position: relative;
  text-align: right;
}



li { display: inline; margin-right: 25px }

header ul li a {
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 500;
  opacity: .5;
  display: inline-block;
  font-size: 18px;
  margin: 0 10px;
}

header ul li a:hover {
  text-decoration: none;
  color: #ffffff;
  transition: all .3s ease-in-out;
  opacity: 1.0;
}


h2 {
  position: relative;
  text-align: center;
  color:#ffffff;
  padding-top: 360px;
}





